
{% extends 'base.html'%}

{% block title %}performance{% endblock title %}

{% block content %}
<div class="ui modal mymodal">
  <div class="header"><h1>Price data</h1></div>
  <div class="ui container">
    <ul>
      <li><strong>Count: </strong> {{ price.count | floatformat }}</li>
      <li><strong>Mean: </strong> {{ price.mean | floatformat }}</li>
      <li><strong>Median: </strong> {{ price.median | floatformat }}</li>
      <li><strong>Min: </strong> {{ price.min | floatformat }}</li>
      <li><strong>Max: </strong> {{ price.max | floatformat }}</li>
      <li><strong>Std dev: </strong> {{ price.std | floatformat }}</li>
    </ul>
  </div>
</div>

<div>
    {% if error_message %}
        <div class="ui negative message">
            <i class ="close icon"></i>
            <div class="header">
              {{ error_message }}
            </div>
          </div>
    {% endif %}

    {% if request.POST %}
        {% if graph %}
            <img src="data:image/png;base64, {{ graph | safe }}">
        {% endif %}
    {% endif %}

    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label>Choose a chart type</label>
            <select  class="ui selection dropdown" id="select" name="sales">
                    <option class="default text">------</option>
                    <option class="item" value="bar">Bar plot</option>
                    <option class="item" value="line">Line plot</option>
                    <option class="item" value="count">Count plot</option>
            </select>
        </div>
        <div class="field">
            <label>Name</label>
            <div class="two fields">
              <div class="field">
                  <label> Data from: </label>
                <input type="date" name="date_from">
              </div>
              <div class="field">
                <label> Data to: </label>
                <input type="date" name="date_to" >
              </div>
            </div>
          </div>
          <button class="ui primary buttom" type="submit">Submit</button>
    </form>
    <button class ='ui secondary buttom' id='modal-btn'>See summary</button>
</div>
{% endblock %}